* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttons {
  text-align: center;
  margin: 8px 10px;
  font-size: 16px;
  color:#2A2963;
  background-color:#C2FFAC;
  width: 100px;
  height: 35px;
  border-color: #C2FFAC;
  border-style: outset;
  border-radius: 8px;
  cursor: pointer;
}
