* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: DarkSlateGrey;
}
table {
  table-layout: fixed;
  font-size: 1.0em;
  color: white;
}
#userName {
  width: 180px;
  text-align: center;
}
#rank {
  width: 50px;
  text-align: right;
}
#exp {
  text-align: center;
}
#bp {
  cursor: pointer;
}
#basicInfo {
  background-color: #333333;
  border-radius: 15px;
  padding: 0px 7px;
}
#basicInfo, #itemInfo {
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px;
}
#basicInfo table {
  margin: 7px 0px;
  white-space: nowrap;
}
.space {
  width: 16px;
}
.points {
  text-align: center;
  width: 90px;
}
.money {
  text-align: right;
  width: 80px;
  margin: 0px 30px 0px 0px;
}
.weapon, .num {
  text-align: center;
  width: 100px;
}
.pic img {
  width: 80px;
  height: 80px;
}
